<div class="container">
    <div class="burger_image">

    </div>
    <header class="jumbotron">
        <h1>Burger Time...!</h1>
    </header>

    <div class="container row" >
        <div class="col-lg-6 devouredFalse">
            {{#each burgersNotDevoured}}
            <div class="row">
                <form action="/devourBurger" method="POST">     
                    <input type="hidden" name="burgerName" value="{{burger_name}}">
                    <span class="col-lg-8">{{id}}. {{burger_name}}</span>  
                    <button class="offset-1-col-lg-3" type="submit" class="btn btn-primary devour-burger">Devour</button> 
                </form>      
            </div>
            <br>
            {{/each}}
        </div>
        <div class="col-lg-6 devouredTrue">
            {{#each burgersDevoured}}
                <div class="row">
                    <input class="col-lg-8" type="text" value="{{id}}. {{burger_name}}" disabled>
                </div>
                <br>
            {{/each}}
        </div>
        
    </div>
    <br><br>
    <div class="addBurger">
        <form action="/addBurger" method="POST">
            <label for="">Order A Burger Here!</label>
            <input type="text" name="burgerName">
            <br>
            <button type="submit" class="btn btn-primary add-burger">Add Burger</button>
        </form>
    </div>
</div> 
<!--CSS-->
<link rel="stylesheet" href="./assets/css/burger_style.css">
<script src="./assets/javascript/logic.js"></script>